@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
/*color palette
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);*/

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
}

.outer-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 1200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

button, a {
    font-size: 12px;
}

p {
    font-size: 12px;
}

label {
    font-size: 12px;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */


/* --------------- 4.1 Header ------------------------- */

header {
    /*background: rgb(72,69,228);*/
    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 75%);
    color: white;
}

.header-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px;
}

.header-content-container h1 {
    padding: 70px 0 20px 0;
}

.header-content-container button {
    margin: 20px 0;
    text-transform: uppercase;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.navbar li {
    padding: 0 20px;
}

.navbar li a {
     text-decoration: none;
     color: white;
 }

header button {
    border-radius: 25px;
    background-color: #ED4385;
    color: white;
    padding: 15px 20px;
    box-shadow: 4px 2px 4px #000000;
}

.header-img {
    background-image: url("./assets/squiggle_line_stripe.svg");
    height: 50px;
    width: 80px;
    margin-top: 100px;
}


/* --------------- 4.2 Introduction ------------------- */

.introduction {
    color: #5722CD;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4em;
}

.introduction h3 {
    margin: 10px;
}

.introduction p {
    margin: 50px 0 20px 0;
    color: black;
}

.introduction a {
    text-decoration: none;
    color: #5722CD;
}


/* --------------- 4.3 Projects ------------------- */

.projects {
    background-color: #F3F6F9;
}

.projects article {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
}

.projects article:nth-child(even) {
    flex-direction: row-reverse;
}

.projects img {
    width: 100%;
    box-shadow: 4px 2px 4px #000000;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.inner-article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 30px;
    flex: 0 1 70%;
    text-align: left;
}

.case-studies-img {
    background-image: url("./assets/squiggle_line.svg");
    height: 6px;
    width: 40px;
}

.inner-article p {
    text-transform: uppercase;
    color: #5722CD;
    font-weight: bold;
}

.inner-article * {
    margin: 10px 0;
}

/* --------------- 4.4 Services ------------------- */
.services-article {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

.service-block article {
    flex: 0 1 300px;
    padding: 30px;
    margin: 20px 10px;
    border: 1px solid #5722CD;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 4px 2px 4px #D3D6D9;
}

.service-block article * {
    padding: 10px 0;
}

.services-article article img {
    width: 60px;
}

.services-article h4 {
    color: #5722CD;
}

.services-article p {
    color: gray;
    text-align: left;
}


/* --------------- 4.5 Form ------------------- */

#contact-form {
    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 75%);
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 20px 0;
    min-width: 50%;
}

.form p {
    padding: 20px 0;
}

.form-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: left;
}

.form-element *:nth-child(even) {
    width: 100%;
    margin: 0 10px 20px 0;
    padding: 10px 0;
}

.form-element input::placeholder, textarea::placeholder {
    padding-left: 10px;
}

.form-button {
    align-self: center;
    border-radius: 25px;
    background-color: #ED4385;
    color: white;
    padding: 15px 60px;

}


/* --------------- 4.6 Footer ------------------- */

footer {
    background-color: black;
    color: white;
    padding: 15px 0;
}

/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen and (max-width: 576px) {

    .navbar {
        justify-content: center;
    }

    .header-content-container {
        padding: 0 50px;
    }

    .projects article:nth-child(n) {
        display: flex;
        flex-direction: column-reverse;
    }

    .image-wrapper {
        flex: 0 1 200px;
    }

    .inner-article {
        padding: 0;
    }

}